<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkspace">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/park_space_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/park_space_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LogInSignUp" />

        <!-- BookParking -->
        <activity android:name=".BookParking" /> <!-- VehicleEditor -->
        <activity android:name=".VehicleEditor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VehicleEditor" />
        </activity>

        <!-- VehicleCursorAdapter -->
        <activity android:name=".VehicleCursorAdapter"/>

        <!-- VehicleCatalog -->
        <activity android:name=".VehicleCatalog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VehicleCatalog" />
        </activity>

        <!--Parking Area-->
        <activity android:name=".ParkingArea">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ParkingArea" />
        </activity>

        <activity android:name=".BookingConfirmation" />

        <provider
            android:name=".data.VehicleProvider"
            android:authorities="com.example.parkspace"
            android:exported="false" />
    </application>

</manifest>
